<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <queries>
        <package android:name="moe.shizuku.privileged.api" />
    </queries>

    <application
        android:name=".IslandLyricsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IslandLyrics"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_app_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomSettingsActivity"
            android:label="@string/page_title_personalization"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FAQActivity"
            android:label="@string/faq_title"
            android:exported="false" />
        <activity
            android:name=".ParserRuleActivity"
            android:label="@string/title_parser_whitelist_manager"
            android:parentActivityName=".MainActivity" />

        <service 
            android:name=".LyricService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                      android:value="Live rendering of lyrics for third-party media applications"/>
        </service>
        <service 
            android:name=".MediaMonitorService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name="com.example.islandlyrics.LogViewerActivity"
                  android:label="Developer Logs"
                  android:parentActivityName=".MainActivity" />

        <activity android:name=".MediaControlActivity"
                  android:theme="@style/Theme.IslandLyrics.Transparent"
                  android:exported="false"
                  android:excludeFromRecents="true"
                  android:taskAffinity=""
                  android:launchMode="singleInstance" />


        <activity
            android:name=".oobe.OobeActivity"
            android:label="@string/oobe_welcome_title"
            android:theme="@style/Theme.IslandLyrics"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>
